<?xml version="1.0"?>

<ruleset name="Orbis rules">
	<config name="installed_paths" value="../../wp-coding-standards/wpcs" />

	<rule ref="WordPress">
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />
		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />
	</rule>
</ruleset>
